h2 {
	color: blue;
}

/* id = "#" */
/* class = "." */
body {
	background-color: #94b8b8;
	font-family: "Courier", monospace;
}

ul {
	list-style-type: circle;
}

p {
  border: 2px solid;
  border-radius: 10px;
}

img {
	display: block;
	width: auto;
	height: auto;
	text-align: center;
	margin: auto; /* centre is so great, holy grail of centre */
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* everything that is in flex */
.flex > * {
	font-size: 30px;
	width: 500px;
	text-align: center;
}

