h2 {
	color: blue;
}

/* id = "#" */
/* class = "." */
body {
	background-color: #94b8b8;
	font-family: 'Nunito Sans', sans-serif;
}

ul {
	list-style-type: circle;
}

p {
	padding-top: 50px;
  	padding-right: 20px;
  	padding-bottom: 50px;
  	padding-left: 20px;
  	border: 2px solid;
  	border-radius: 10px;
}

img {
	display: block;
	width: auto;
	height: auto;
	text-align: center;
	margin: auto; /* centre is so great, holy grail of centre */
}

#titleimage {
	margin: 50px 50px 100px 300px;	
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* everything that is in flex */
.flex > * {
	font-size: 30px;
	width: 500px;
	text-align: center;
}

