h2 {
	color: blue;
}

/* id = "#" */
/* class = "." */

img {
	display: block;
	width: 600px;
	height: 600px;
	text-align: center;
	float: left;
	margin: auto; /* centre is so great, holy grail of centre */
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* everything that is in flex */
.flex > * {
	font-size: 30px;
	width: 500px;
	text-align: center;
}

